## Words

In [ ]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [22]:
# Define words.
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

# Print every word in words in upper case.
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [24]:
# Creates a new list containing only words with 5 or more letters.
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story', 'island']

# Create a new list with words having 5 or more letters
filtered_words = [word for word in words if len(word) >= 5]

# Print the new list
print(filtered_words)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [26]:
# Prints the first word starting with the letter t.
for word in words: 
    if word.startswith("t"):
        print(word)
        break #stops after finding the first word that meets this criteria

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [30]:
# Creates a list containing the square of every number from 1 to 10.
sqrlist = []

# Generates the squares of every number and adds them to the new list being created.
for number in range(1,11):
    numsqrd = number ** 2
    sqrlist.append(numsqrd)

# Prints the contents of the new list.
print(sqrlist)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [36]:
# Prints a list containing the square of every odd number from 1 to 10.

# Initiates an empty list named sq
sqroddlist = []

# Generates the square of every odd number from 1 to 10.
for number in range(1,11,2):
    numsqrd = number ** 2
    sqroddlist.append(numsqrd)

# Prints the new list.
print(sqroddlist)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [40]:
# Creates a list with the squares of all multiples of 8 below 1000.
# Initiates an empty list.
sqrmult8 = []

# Generates the squares of all multiples of 8 below 1000.
for number in range(8,1000,8):
    numsqrd = number ** 2
    sqrmult8.append(numsqrd)

# Print the length of the list.
print(len(sqrmult8))

# Print the list.
print(sqrmult8)

124
[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [ ]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [44]:
# List from which people will be counted.
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]
# Counts the number of people in the above list.
peoplenum = len(people)

# Displays the total number of people in the list.
print(peoplenum)

5

**How many people have kids**?

In [46]:
# List from which people with kids will be counted.
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]
# Counts the number of people with kids in the above list.
pplwkids = sum(1 for person in people if person["n_kids"]>0)

# Prints the result.
print(f"Number of people with kids: {pplwkids}")

Number of people with kids: 4

**How many kids do they have in total?**

In [57]:
# Calculates the total number of kids all of the people in the people list have.

# Defines the elements in the list of people.
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]
# Calculates the total number of kids among the people in the people list.
allkids = sum(person["n_kids"] for person in people)

print(f"The total number of kids is {allkids}")

The total number of kids is 10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [64]:
# Creates a list of dictionaries with people's info in a year's time.
# Defines the current list of people.
# List of people
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

# Updates each person's information for a year from now.
yrlist = [
        {
            "name": person["name"],
            "age": person["age"] +1,
            "n_kids": person["n_kids"] + (1 if person["name"].endswith("a") else 0)
        }
        for person in people
]

# Prints the updated information.
for person in yrlist:
    print(person)

{'name': 'Juan', 'age': 35, 'n_kids': 2}
{'name': 'Pepe', 'age': 28, 'n_kids': 0}
{'name': 'Sonia', 'age': 42, 'n_kids': 2}
{'name': 'Lucía', 'age': 23, 'n_kids': 3}
{'name': 'Leo', 'age': 56, 'n_kids': 5}